<%- include('../../partials/header.ejs'); %>

<%- include('../../partials/navbar.ejs'); %>
<body>
   <div class="container">
      
       <div class="card mt-5 border border-primary rounded ">

                 <div class="card-header border border-bottom">
                        <h3 class=""> Editar Artigo</h3>
                 </div>

                    <div class="card-body">

                        <form  action="/articles/update" method="POST" >
                            <input type="hidden" name ="id" value="<%= article.id %>">
                            <input type="text" class="form-control mb-2"  name="title" placeholder="Defina o Título do artigo" value="<%=  article.title%>">
                            <textarea  class="form-control mb-2"  name="body" id="article" placeholder="Escreva o artigo aqui"></textarea> 
                            <label for="category"><h3>Categoria</h3></label>
                            <select name="category" class="form-control" id="category">
                                
                                <% categories.forEach( (category)=>{ %>

                                    <% if(category.id == article.categoryId){ %>

                                        <option value="<%= category.id %>" selected><%= category.title %></option>
                                   
                                    <% } else { %>
                                        
                                        <option value="<%= category.id %>" ><%= category.title %></option>

                                        <%  } %>
                                <% }) %>
                            </select>
                            <button type="submit" class="btn btn-success mt-2"  ><i class="far fa-newspaper mr-1 mt-2"></i></i>Atualizar</button>

                        </form>
                    </div>
        </div>
   </div>

   <div id="content" style="display: none;">
       <%- article.body %>
   </div>
</body>

<%- include('../../partials/footer.ejs'); %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: '#article',
        plugins:[
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () =>{
            tinymce.get("article").setContent($("#content").html())
        }
    })
</script>